.hero-about {
  h1 {
    color: $white;
    font-size: $fontsize * 3;
  }
  margin-top: -82px;
  z-index: -1;
  position: relative;
  .wp-post-image {
    height: auto;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
  }
  .about-title {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 49%;
    margin-left: -50px;
  }
}
.about-desc {
  width: 1120px;
  margin: 0 auto;
  p:nth-child(1),
  p:nth-child(4) {
    text-align: center;
  }
}
