.site-footer {
  background-image: url("../../../inhabitent/project-04/images/dark-wood@2x.png");
  background-size: 512px 512px;
  padding: 2rem 0;
  color: #fff;
  .footer-container {
    width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .contact {
      padding-right: 2rem;
      i {
        padding-right: 1rem;
      }
      & a {
        color: #fff;
        text-decoration: none;
      }
    }
    .hours {
      text-transform: $capital;
    }
    h3 {
      color: $orange-brand;
      text-transform: $UC;
    }
    .hours {
      flex-grow: 2;
    }
    .footer-logo {
      width: 25%;
      height: 15%;
      padding-top: 1.8rem;
    }
  }

  .copyright {
    font-family: $headfont;
    text-transform: $UC;
    text-align: center;
    margin: 0;
  }
}
