.hero-img {
  position: relative;
  .wp-post-image {
    height: auto;
  }
  .hero-logo {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    margin-top: -186px;
    margin-left: -126px;
  }
}
.front-page-wrapper {
  width: 1120px;
  margin: 0 auto;
  .journals {
    display: flex;
    .single-journal {
      flex-grow: 1;
    }
    .journal-img {
      height: 300px;
      overflow: hidden;
    }
    .journal-container {
      height: 200px;
    }
    img {
      height: 100%;
      width: auto;
    }
  }
}
