.hero-img {
  margin-top: -82px;
  position: relative;
  z-index: -1;
  .wp-post-image {
    height: auto;
  }
  .hero-logo {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    margin-top: -186px;
    margin-left: -126px;
  }
}
.front-page-wrapper {
  width: 1120px;
  margin: 0 auto;
  h2 {
    text-transform: $UC;
    text-align: center;
    font-weight: 100;
    font-size: $fontsize * 2.5;
  }

  .product-type {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    .product-icon {
      display: grid;
      grid-template-rows: 4fr 4fr 1fr 1fr;
      border-color: #e1e1e1;
      border-style: solid;
      border-width: 5px 1px 1px 1px;

      img {
        align-self: center;
        justify-self: center;
        width: 70px;
        justify-self: center;
      }
      p {
        text-align: center;
        margin: 0;
      }
      .btn {
        border: 1px solid $green-brand;
        padding: $padding * 0.5 $padding;
        text-decoration: none;
        background-color: $green-brand;
      }
    }
  }
  .journals {
    display: flex;
    .single-journal {
      &:nth-child(2) {
        margin: 0 1.6rem;
      }
      flex-grow: 2;
      .journal-img {
        height: 300px;
        overflow: hidden;
      }
      .journal-detail {
        border-color: #e1e1e1;
        border-style: solid;
        border-width: 5px 1px 1px 1px;
        h3 {
          margin: 0;
        }
        p {
          margin: 0;
        }
      }
      .journal-container {
        height: 200px;
      }
      img {
        height: 100%;
        width: auto;
      }
    }
  }
  .adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 12fr 12fr;
    grid-template-areas:
      "canoe canoe beach beach"
      "canoe canoe view gaze";
    grid-gap: $padding;
    height: 555px;
    .canoe {
      grid-area: canoe;
      background-image: url("../../../inhabitent/project-04/images/adventure-photos/canoe-girl.jpg");
      background-size: cover;
      background-position: center;
      h3 {
        font-size: $fontsize * 3;
        line-height: 4rem;
      }
    }
    .beach {
      grid-area: beach;
      background-image: url("../../../inhabitent/project-04/images/adventure-photos/beach-bonfire.jpg");
      background-size: cover;
      background-position: center;
      h3 {
        font-size: $fontsize * 2.5;
        line-height: 4rem;
      }
    }
    .view {
      grid-area: view;
      background-image: url("../../../inhabitent/project-04/images/adventure-photos/mountain-hikers.jpg");
      background-size: cover;
      background-position: center;
      h3 {
        font-size: 1.8rem;
        line-height: 2rem;
      }
    }
    .gaze {
      grid-area: gaze;
      background-image: url("../../../inhabitent/project-04/images/adventure-photos/night-sky.jpg");
      background-size: cover;
      background-position: center;
      h3 {
        font-size: $fontsize * 1.8;
        line-height: 2.4rem;
      }
    }
    h3 {
      font-family: $parafont;
      font-weight: 400;
      padding: 0 $padding;
      color: #fff;
      margin: $margin * 1 0;
    }
    a {
      display: inline-block;
      text-decoration: none;
      text-transform: $capital;
      border: 1px solid #fff;
      padding: $padding * 0.5 $padding * 1;
      color: #fff;
      margin: 0 $margin;
    }
  }
}
