.hero-img {
  margin-top: -82px;
  position: relative;
  z-index: -1;
  .wp-post-image {
    height: auto;
  }
  .hero-logo {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    margin-top: -186px;
    margin-left: -126px;
  }
}
.front-page-wrapper {
  width: 1120px;
  margin: 0 auto;
  h2 {
    text-transform: uppercase;
    text-align: center;
  }
  .product-type {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.5rem;
    .product-icon {
      display: grid;
      grid-template-rows: 25% 1fr 20%;
      border-color: #e1e1e1;
      border-style: solid;
      border-width: 5px 1px 1px 1px;

      img {
        width: 70px;
        justify-self: center;
      }
      p {
        text-align: center;
        padding: 0 1rem;
      }
      .btn {
        text-transform: capitalize;
      }
    }
  }
  .journals {
    display: flex;
    .single-journal {
      &:nth-child(2) {
        margin: 0 1.6rem;
      }
      flex-grow: 2;
      .journal-img {
        height: 300px;
        overflow: hidden;
      }
      .journal-detail {
        border-color: #e1e1e1;
        border-style: solid;
        border-width: 5px 1px 1px 1px;
        h3 {
          margin: 0;
        }
        p {
          margin: 0;
        }
      }
      .journal-container {
        height: 200px;
      }
      img {
        height: 100%;
        width: auto;
      }
    }
  }
  .adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 12fr 12fr;
    grid-template-areas:
      "canoe canoe beach beach"
      "canoe canoe view gaze";
    grid-gap: $padding;
    height: 555px;
    .canoe {
      grid-area: canoe;
      background-image: url("../../../inhabitent/project-04/images/adventure-photos/canoe-girl.jpg");
      background-size: cover;
      background-position: center;
      h3 {
        font-family: $parafont;
        font-size: $fontsize * 3;
        font-weight: 400;
        color: #fff;
        padding: 0 $padding;
      }
    }
    .beach {
      grid-area: beach;
      background-image: url("../../../inhabitent/project-04/images/adventure-photos/beach-bonfire.jpg");
      background-size: cover;
      background-position: center;
    }
    .view {
      grid-area: view;
      background-image: url("../../../inhabitent/project-04/images/adventure-photos/mountain-hikers.jpg");
      background-size: cover;
      background-position: center;
    }
    .gaze {
      grid-area: gaze;
      background-image: url("../../../inhabitent/project-04/images/adventure-photos/night-sky.jpg");
      background-size: cover;
      background-position: center;
    }
    a {
      display: inline-block;
      text-decoration: none;
      text-transform: $capital;
      border: 1px solid #fff;
      padding: $padding * 0.5 $padding * 1;
      color: #fff;
    }
  }
}
