.nav-container {
  width: 1120px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 5fr 5fr;
  .logo {
    justify-self: stretch;
    align-self: center;
    img {
      width: 50px;
    }
  }
  .main-navigation {
    grid-column: 3;
    li {
      align-self: center;
      padding-right: 1rem;
    }
  }
}
