.journal-page {
  width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  .journal-posts {
    padding-right: 3rem;
    flex-grow: 2;
    border-right: $grey-border;
    .entry-header {
      position: relative;
      & img {
        width: 100%;
      }
      .journal-title {
        position: absolute;
        top: 30px;
        left: 0;
        h2 {
          background-color: $green-brand;
          font-family: $headfont;
          font-size: 2rem;
          max-width: 75%;
          line-height: 2.4rem;
          padding: $padding;
          a {
            color: #fff;
            text-decoration: none;
            &:hover {
              color: $orangehover;
            }
          }
        }
      }
      .entry-meta {
        position: absolute;
        bottom: 9px;
        right: 0;
        background-color: $green-brand;
        p {
          font-family: $headfont;
          text-transform: $UC;
          color: #fff;
          margin: 0;
          padding: 0 1rem;
        }
      }
    }
    .entry-content {
      width: 690px;
      a {
        border: 1px solid #000;
        padding: $padding * 0.8 $padding * 1.8;
        text-decoration: none;
        color: #000;
        font-size: $fontsize * 0.8;
        &:hover {
          color: #fff;
          background-color: $green-brand;
          border: 1px solid $green-brand;
        }
      }
    }
  }
  .side-bar {
    padding: 0 0 0 2rem;
  }
}
