.tax-products {
  width: 1120px;
  margin: 0 auto;
  .page-header {
    text-align: center;
  }
  .tax-grid {
    width: 1120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: $padding;
    .wp-post-image {
      width: 100%;
      height: 280px;
      object-fit: cover;
    }
  }
}
