.shop-container {
  width: 1120px;
  margin: 0 auto;
  .shop-page {
    text-align: center;
    padding-bottom: 2rem;
    .product-cat {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding-left: 0;
      width: 300px;
      margin: 0 auto;
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: $green-brand;
          text-transform: $UC;
          font-family: $headfont;
          font-size: 1.18rem;
        }
      }
    }
  }
  .products-grid {
    padding-top: 3rem;
    border-top: 1px dashed #c8c8c8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 3rem;
    .products {
      img {
        object-fit: cover;
        // width: 100vw;
      }
      p {
        margin: 0;
        padding: 2rem 0;
        border-color: #e1e1e1;
        border-style: solid;
        border-width: 5px 1px 1px 1px;
      }
    }
  }
}
