.journal-page {
  width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.journal-n-comments {
  padding-right: 3rem;
  border-right: $grey-border;
  & img {
    width: 100%;
  }

  .journal-posts {
    padding: 0;
    border: none;
    width: 690px;
  }

  .comment-author-avatar img {
    border-radius: 40px;
  }
}
